/*.item {
	background-color: green;
	list-style-type: none;
	text-align: center;
	padding: 1em 1em;
	margin: 0.5em 05em;
	font-size: 1.5em
}*/

.button {
	position:relative;
	font-size: 4em;
	color: #ffffff;
	background-color: steelblue;
	border-radius: 1em;
	text-align: center;
	/*padding: 1em 1em;*/
	margin: 0.5em 0.5em;
	font-size: 1.5em;
	width: 2em;
}

h1 {
	font-family: 'Ubuntu';
	width: 500px;
	top: 50%;
}
.check {
	height: 2em;
	width: 2em;
}

/*.rmv {
	background-color: green;
	list-style-type: none;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0.5em 05em;
	font-size: 1.5em
}

.check {
	background-color: green;
	list-style-type: none;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0.5em 05em;
	font-size: 1.5em
}